/*body {
background: #00B4DB;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/*#contact{
background: #B2FEFA;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
/*ackground: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*position: absolute;
width: 100%;
height: 100%;
}*/

.header-color {
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Change the background color on mouse-over */
.header-color a:hover {
 background-color: #5EF5F7;

}


.home-page {
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position: fixed;
width:100%;
height:100%;
}

.layout-page {
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position: fixed;
width:100%;
height:100%;
}




/*.side-panel {
  background-color: red;
}*/


.banner-text {
  background-color: black;
  opacity: .7;
  /*height: 50%;*/
  width: 40%;
  margin: auto;
  border-radius: 8px;
}


.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 10px
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  }

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
  }

.social-link{
  display:flex;
  justify-content:center;
  width:auto;
  margin:auto;
}

.social-link i {
  font-size: 3em;
  padding: 10px;
  position: relative;
}




.fonts {
  font-family: bold sans-serif;
}

.contact-box {
  background-color: white;
  opacity: .7;
  /*height: 50%;*/
  width: 40%;
  margin-top: auto;
  border-radius: 8px;
}

.text-box h1 {
  font-family: bold Raleway;
  font-size: 35px;
  color: #01DFD7;
  text-align: center;
  margin-top: auto;
}

.projects-grid {

  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
   Safari 7+ */
   height: 100%;
  }

  .card{
  display: flex;
  flex-wrap: wrap;
  text-align: center;


  padding-top: 2em;
}





/* .CSCI{
  .button-bootstrap{
    display: flex;
    justify-content: space-between;
    color: #03b7c0;
  } */


  /* Resume page CSS
  .resume-right-col {
    background: #F4FAFB;
    color: black;
    padding: 2em;
  }

  .resume-left-col {
    background: #000000;
    color: white;
  } */


/*resume page*/
.back1{
  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height: auto;
 min-width: 1000px;
 margin: auto;
}

.center2{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

/* .contact-box {
  background-color: white;
  opacity: .7;
  width: 40%;
  position:relative;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
} */
